<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
  <header class="header">
    <div class="header__top">
      <div class="container">
        <div class="header__top-inner">
          <div class="header__logo">
            <a class="header__logo-link" href="#">
              <img src="images/logo.png" alt="logo">
            </a>
          </div>
          <div class="header__text">
            <a class="header__text-link" href="#">
              <span>Need help?</span>
            </a>
            Talk to an expert:
            <a class="header__text-phone" href="tel:61383766284">+61 3 8376 6284</a>
          </div>
          <div class="header__box">
            <a class="header__busket" href="#"></a>
            <a class="header__btn header__btn-login" href="#">Login</a>
            <a class="header__btn header__btn-register" href="#">Register</a>
          </div>
        </div>
      </div>
    </div>
    <div class="header__menu">
      <div class="container">
        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__list-item">
              <a class="menu__list-link" href="#">Home</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#">About</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#">WordPress</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#">Joomla</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#">PSD</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#">Plugins</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#">Components</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#">Pages</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#">Contact</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#">Help</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  